<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>{title}</title>
</head>
<body>
    <div>First Name: {name}</div>
    <div>Last Name: {surname}</div>
    <div>Age: {age}</div>
    <div>Profession: {profession}</div>
</body>
</html>